  body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }

  hr {
    margin: 2rem; 
    height: 2px; 
    background-color: black; 
    border: none; 
  }
  
  
  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    background: linear-gradient(to right, #9acd32, transparent);
    color: #fff;
    height: 25%;
    font-size: 16px;
    font-weight: 600;
    display: flex;
  }
  
  #topbar .container{
    text-align: right;
    color: rgb(126, 124, 124);
    margin: 15px 10px;
    justify-content: space-evenly;
  }

  .appointment-btn {
    width: 15%;
    background: linear-gradient(to left, #806600, transparent);
    color: #fff;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 14px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
  }
  
  .appointment-btn:hover {
    background: linear-gradient(to left, #faebd7, transparent);
    color: #fff;
  }
  

  /* Media Query for Smaller Screens */
  @media (max-width: 768px) {
    .appointment-btn {
      margin: 10px 15 0 0;
      padding: 6px 25px;
      text-align: center;
    }
  }
  
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: whitesmoke;
    box-shadow: 0px 2px 15px rgba(4, 3, 3, 0.1);
    display: block;
    justify-content: space-between;
    padding: 10px;
  }
  
  #box{
    float: right;
    margin-right: 18rem;
  }
  
  #box h1{
    font-size: 28px;
    color: yellowgreen;
    margin-right: 5rem;
  }
  
  #header img {
    max-height: 100px;
    border-radius: 50%;
    box-shadow: #111 0px 0px 15px;
  }

 
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
 
  .navbar {
    align-items: center;
    margin: 2.5rem;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #626262;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: yellowgreen;
    text-decoration: none;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
  }

  /* Media Query for Smaller Screens */
  @media (max-width: 768px) {
    #box{
      display: none;
    }
    
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .hamburger {
      display: block;
      float: right;
      margin: 35px;
    }
  } 


  /*--------------------------------------------------------------
  # Welcome Section
  --------------------------------------------------------------*/

  #main{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, yellowgreen 25%, rgb(90, 135, 0) 50%, rgba(255, 255, 255, 0.5) 100%);
  }
  .welcome-section {
    height: 100%;
    width: 95%;
    background-image: url('images/4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    margin-right: 0 30px 30px 0;
    padding: 15px 25px 25px 25px;
  }

  .welcome-content{
    background-color:#faebd7;
    opacity: 0.5;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
  }

  .welcome-content p{
    padding: 0 15px 15px 20px;
    color: black;
  }

  .welcome-content h1{
    padding: 15px 15px 0;
    color: rgb(90, 135, 0);
  }
 
  /*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
 
  .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding: 20px; 
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 15px;
    box-shadow: #111 0px 0px 5px;
  }

  .about-content {
    flex: 1;
    max-width: 600px; 
  }

  .about-content h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: ghostwhite;
    text-align: center;
  }

  .image-gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    max-width: 100%;
    margin: 0 auto;
}

.pic-container{
  width: 80%;
    margin-bottom: 20px;
}

.image-gallery img {
    max-width: 70%;
    height: 70%;
    margin-right: 10px;
    border-radius: 8px;
}

  .about-content span {
    font-size: 35px;
    color: #777777;
  }

  .about-content p {
    padding: 10px 35px 15px 15px;
    color: black;
    text-align: center;
  }

  .about-img img {
    width: 100%; 
    height: auto; 
    max-width: 400px; 
    border-radius: 5px;
    box-shadow: #111 0px 0px 15px;
  }


  /* Media Query for Smaller Screens */
  @media (max-width: 768px) {
    .about-section {
      flex-direction: column;
      align-items: center;
    }

    .about-content {
      width: 100%; 
      margin-bottom: 20px;
    }

    .about-img {
      display: none;
    }
  }

  
  /*--------------------------------------------------------------
  # Services Section
  --------------------------------------------------------------*/
  .services {
    display: flex;
    justify-content: space-between;
  }
  
  .service {
    text-align: center;
    width: 48%; 
    margin-bottom: 20px;
    border: 2.5px solid #eee;
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
    box-shadow: #111 0px 0px 15px;
  }
  
  .services img {
    border-radius: 50%;
    width: 150px; 
    height: 150px;
    object-fit: cover; 
    margin-bottom: 10px;
    box-shadow: #111 0px 0px 15px;
  }

  .services img:hover{
    transform: scale(1.1);
  }
  
  .services-content{
    text-align:center;
    padding-bottom: 25px;
    margin: 20px;
  }

  /* Media Query for Smaller Screens */
  @media (max-width: 768px) {
    .services {
      flex-direction: column;
      align-items: center;
    }
  
    .service {
      width: 80%; 
    }
  }
  
  /*--------------------------------------------------------------
  # WhyChoseUs Section
  --------------------------------------------------------------*/
  

  .why-choose-us-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }
  
  .card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transform: rotate(-4deg); 
    box-shadow: #111 0px 0px 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: rotate(0deg);
  }
  
  .card img {
    width: 100%;
    max-height: 250px; 
    object-fit: cover;
    border-bottom: 2px solid #eee;
  }
  
  .card h3 {
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
  }
  
  .card p {
    padding: 0 15px 15px;
    margin: 20px;
    color: #666;
    text-align: center;
  }
  
  .why-choose-us-container{
    background-color: #fff;
    padding: 50px;
    display: flex;
  }


  /* Media Query for Smaller Screens */
  @media (max-width: 768px) {
    .why-choose-us-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      margin-bottom: 50px;
      transform: rotate(-4deg); 
      box-shadow: #111 0px 0px 15px;
      transition: transform 0.3s ease-in-out;
    }

    .card:hover{
      transform: scale(1.1);
    }
  
    .card img {
      max-height: 100%;
    }
  
    .card h3 {
      font-size: 1.2rem; 
    }
  
    .card p {
      padding: 0 15px 15px;
      font-size: 0.9rem; 
    }
  }
  

  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    display: block;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
  }

  .footer-links {
    display: flex;
  }
  .contacts h4{
    text-align: center;
  }

  .useful-links,
  .footer-services {
    flex: 1;
    margin-right: auto;
  }

  h4 {
    color: yellowgreen;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
    text-decoration: underline;
    color: #fff;
  }

  .copyright {
    margin-top: 20px;
  }

  .contact-info-upper-container {
    display: block;
    justify-content: center;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 2.5rem;
  }

  .icon {
    cursor: pointer;
    height: 2rem;
    margin-right: 10px;
  }
