header {
    background-color: #4CAF50;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.links h6 {
    color: white;
    margin: 0;
    margin-bottom: 5px;
}

.website-info img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
}

.website-menu a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust as needed */
        left: 0;
        right: 0;
        background-color: #333;
        text-align: center;
    }

    .navbar-links.show {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    .website-links {
        order: -1; /* Move website links to the top in mobile view */
    }
}